{% extends 'base.html' %}

{% block title %}Jadwal Kegiatan Belajar{% endblock %}
{% block page_title %}Jadwal Harian Santri 📅{% endblock %}
{% block subtitle %}Pekan ini: Materi HTML & CSS{% endblock %}

{% block content %}
    <section class="card">
            <h2 class="section-title blue">Jadwal Kegiatan Belajar</h2>
            
            <div class="jadwal-wrapper">
                <table class="jadwal">
                    <thead>
                        <tr>
                            <th colspan="2">Waktu</th>
                            <th rowspan="3">Hari</th>
                            <th rowspan="2">Kegiatan IT</th>
                        </tr>
                        <tr>
                            <th class="sub-header">Mulai</th>
                            <th class="sub-header">Selesai</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>08:00</td>
                            <td>10:00</td>
                            <td>Senin</td>
                            <td>Pelajaran Web Dasar (Teori HTML)</td>
                        </tr>
                        <tr>
                            <td>10:00</td>
                            <td>10:30</td>
                            <td colspan="2">ISTIRAHAT (Snack & Sholat Dhuha)</td>
                        </tr>
                        <tr>
                            <td>10:30</td>
                            <td>12:00</td>
                            <td>Senin</td>
                            <td>Latihan Prktikum HTML Table</td>
                        </tr>
                        <tr>
                            <td>14:00</td>
                            <td>16:00</td>
                            <td>Selasa</td>
                            <td>Pelajaran Web Dasar (Teori CSS & Box Model)</td>
                        </tr>
                        <tr>
                            <td>16:00</td>
                            <td>16:45</td>
                            <td>Selasa</td>
                            <td>Olahraga (Renang)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
{% endblock %}